.form-Item-Name {   
    font-family: 'Courier New, monospace';
    font-size: 20px;
    font-weight: 300;
    color: rosybrown;
    padding-bottom: 5px;
    margin: 20px 20px 20px 100px;
    flex: 30%;
}

.form-Item-data {
    font-family: 'Arial, sans-serif';
    font-size: 20px;
    font-weight: 300;
    color: black;
    padding-bottom: 5px;
    margin: 20px;
    flex: 75%;
}
/* Header style */
.header {
    background-color: #4CAF50;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.form-group-data{
    display: flex;
}