.form-Item-Name {   
     font-family: 'Courier New, monospace';
    font-size: 25px;
    font-weight: 400;
    color: rosybrown;
    padding-bottom: 5px;
    margin: 20px 100px;
}

.form-Item-data {
    font-family: 'Arial, sans-serif';
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}
/* Header style */
.header {
    background-color: #4CAF50;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}