<div class="form-container">
    <h1 class="heading">{{header}}</h1>
    <form>
        <div class="form-group">
            <label  class="form-Item-Name" for="name">Name:</label>
            <label class="form-Item-data" >{{details.name}}</label> 
        </div>
        <div class="form-group">
            <label class="form-Item-Name" for="email">Email:</label> 
            <label class="form-Item-data" >{{details.email}}</label> 
        </div>
        <div class="form-group">
            <label  class="form-Item-Name" for="phone">Phone:</label>
            <label class="form-Item-data" >{{details.phone}}</label> 
        </div>
    </form>
</div>