<app-navbar></app-navbar>

<div class="">

    <!-- Main Content -->
    <div class="">
        <!-- Header -->
        <header class="header">
            <h1>Patients List</h1>
        </header>

        <!-- Dashboard Content -->
        <div class="p-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Contact Number</th>
                        <th scope="col">Health Issue</th>
                        <th scope="col">Recently Visited Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patient of patientData">
                        <th scope="row">{{patient.patientName}}</th>
                        <td>{{patient.contactNumber}}</td>
                        <td>{{patient.healthIssue}}</td>
                        <td>{{patient.recentlyVisitedTime}}</td>
                        <td> <a routerLink="/profile">details</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
