<div class="container-fluid">
    <div class="row">
        <!-- heading title -->
        <div class="col-12 top-box bg-dark text-white text-center p-4">
            <div class="title">
                Bayer HealthCare
            </div>
        </div>

        <!-- navbar links -->
        <div class="nav-links col-12 p-0">
            <div class="navbar">
                <a href="#" routerLink="/register">Register</a>
                <a href="#services">Health Topics</a>
                <a href="#about">Resources</a>
                <a href="#contact">About Us</a>
                <a href="#contact">Contact Us</a>
            </div>
        </div>

        <!-- health priority title -->
        <div class="col-12 bottom-box bg-dark text-white text-center">
            <div class="health-topics-box">
                <div class="health-text">
                    Your Health, Our Priority
                </div>
                <div class="sub-text">
                    Explore the latest information and resources from Bayer HealthCare
                </div>
            </div>
        </div>

        <!-- health topics -->
        <div class="col-12 footer-box text-white text-center">
            <div class="health-title-text">
                Featured Health Topics
            </div>

            <!-- featured health topics cards -->
            <div class="featured-cards row">
                <div class="card col-md-4 p-1" *ngFor="let item of cardDetails">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.subtitle }}</p>
                        <a href="#" class="btn btn-primary">{{ item.btntext }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>